/* Universal attributes */
html, body {
    font-family: 'Roboto', sans-serif;
    min-height:100%;
    min-width:100%;
    height: 100%;
    padding:0;
    margin:0;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Reem Kufi', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

.big-heading {
    font-size: 60px;
}

.headline-text {
    font-size: 18px;
}

.gray {
    color: #575757;
}

.black {
    color: #000;
}

.white {
    color: #FFFFFF;
}

.salmon {
    color: #FF6653;
}

.big {
    font-size: 2em;
    text-align: center;
}

.display {
    z-index: 25;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.parallax {
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Supports checks whether the user browswer supports this */
@supports (grid-area:auto) {
    /* each section will be full screen */
    .page {
        padding-top: 10%;
        height: 100vh;
    }

    /* title page grid */
    .landing {
        display: grid;
        grid-template-areas: 
          "main-heading"
          "title-content"
          "title-footer";
        grid-template-rows: 150px auto 150px;  
        grid-template-columns: 100%;
    }

    .main-heading {
        grid-area: main-heading;
        text-align: center;
    }

    .content {
        grid-area: title-content;
        text-align: center;
    }

    .title-footer {
        grid-area: title-footer;
        text-align: center;
    }

    #title {
        background-image: url('../img/boba_title.png');
        height: 100vh;
    }

    /* Navigation Menu */
    #nav {
        position: fixed;
        height: 8%;
        padding-top: 1em;
        top: 0;
        left: 2em;
        z-index: 100;
        text-align: center;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    .menu li img {
        height: 5em;
        position: absolute;
        left: 5em;
        top: 0;
    }

    /* sliding navigation menu properties */
    ul {
        width: 860px;
        height: 120px;
        background: transparent;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
    }
      
    ul li {
        border-radius: 100%;
        width: 100px;
        height: 100px;
        background: #fff;
        position: absolute;
        left: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
        color: #575757;
        opacity: 0;
    }
      
    ul li:first-child {
        padding-left: 0;
        z-index: 10;
        opacity: 1;
        width: 100px;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    ul li:nth-child(2) {
        margin-left: 1em;
    }

    ul li:nth-child(3) {
        margin-left: 1em;
    }

    ul li:nth-child(4) {
        margin-left: 1em;
    }

    #menu-button .bar {
        width: 20px;
        height: 2px;
        background: #575757;
        -webkit-transition: 0.3s linear;
        transition: 0.3s linear;
    }
      
    #menu-button .bar:nth-child(2) { 
        margin: 5px 0; 
    }
      
    #menu-button.active .bar:first-child {
        -webkit-animation: barOne 0.4s ease-in-out forwards;
        animation: barOne 0.4s ease-in-out forwards;
    }
      
    @-webkit-keyframes 
    barOne {  
        0% {
            -webkit-transform: none;
            transform: none;
        }
        25% {
            -webkit-transform: translateY(7px);
            transform: translateY(7px);
        }
        100% {
            -webkit-transform: translateY(7px) rotate(45deg);
            transform: translateY(7px) rotate(45deg);
        }
    }
      
    @keyframes 
    barOne {  
        0% {
            -webkit-transform: none;
            transform: none;
        } 
        25% {
            -webkit-transform: translateY(7px);
            transform: translateY(7px);
        }
        100% {
            -webkit-transform: translateY(7px) rotate(45deg);
            transform: translateY(7px) rotate(45deg);
        }
    }
      
    #menu-button.active .bar:nth-child(2) {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
      
    #menu-button.active .bar:last-child {
        -webkit-animation: barTwo 0.4s ease-in-out forwards;
        animation: barTwo 0.4s ease-in-out forwards;
    }
      
    @-webkit-keyframes 
    barTwo {  
        0% {
            -webkit-transform: none;
            transform: none;
        }
        25% {
            -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
        }
        100% {
            -webkit-transform: translateY(-7px) rotate(-45deg);
            transform: translateY(-7px) rotate(-45deg);
        }
    }
   
    @keyframes 
    barTwo {  
       0% {
        -webkit-transform: none;
        transform: none;
       }
       25% {
       -webkit-transform: translateY(-7px);
       transform: translateY(-7px);
       }
       100% {
       -webkit-transform: translateY(-7px) rotate(-45deg);
       transform: translateY(-7px) rotate(-45deg);
       }
    }

    /* layout of other sections */
    .layout {
        display: grid;
        grid-template-areas: 
          "head head head head"
          "main main main main"
          "main main main main";
        grid-template-rows: 150px auto auto;  
        grid-template-columns: 25% 25% 25% 25%;
    }

    .head {
        grid-area: head;
    }

    .main {
        grid-area: main;
    }

    #intro {
        background-image: url('../img/red_background.png');
        height: 100vh;
        position: relative;
    }

    /* intro text properties */
    #what {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .boba-box {
        text-align: center;
    }

    .boba-box img {
        width: 45%;
        padding-bottom: 2em;
    }


    #types {
        display: none;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .boba-hover {
        width: 100%;
    }

    .boba-hover img {
        width: 6em;
        margin-left: 2em;
        margin-right: 2em;
    }

    #types p, #what p {
        text-align: left;
    }

    .right-arrow {
        position: absolute;
        right: -25%;
        top: 5%;
    }

    .left-arrow img, .right-arrow img {
        width: 6em;
    }

    .left-arrow {
        position: absolute;
        left: -25%;
        top: 5%;
    }

    #intro2 {
        display: none;
    }

    #history {
        background-color: #80A6CF;
        padding-top: 10%;
    }

    .headline {
        margin-left: 3em;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .container {
        position: relative;
    }

    #stats {
        background-color: #67C9A1;
    }

    #caliChart {
        width: 50%;
    }

    #interactive {
        background-color: #FF6653;
        padding-top: 10%;
    }

    /* Grid display for look up part of interactive section */
    #lookup {
        display: grid;
        grid-template-areas: 
          "search map-result"
          "search map-result";
        grid-template-rows: 50% 50%;  
        grid-template-columns: 50% 50%;   
    }

    #lookup {
        margin-bottom: 10%;
    }

    .search {
        grid-area: search;
        background-color: #FFFFFF;
        width: 80%;
        border-radius: 1em;
        margin-left: auto;
        margin-right: auto;
    }

    .input-field {
        padding: 2em;
        text-align: left;
    }

    input {
        border-radius: 0.5em;
        padding: 1em;
    }

    input, textarea, input[type="button" i] {
        font-family: 'Montserrat', sans-serif;
    }

    input[type="button" i] {
        background-color: #FF6653;
        color: #FFFFFF;
    }

    #boba-results {
        text-align: left;
        margin-left: 3em;
        margin-bottom: 3em;
    }

    .map-result {
        grid-area: map-result;
    }

    #sources {
        background-color: #FFDE67;
    }

    .source-flex {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .credits {
        width: 70%;
    }

    .credits a {
        color: #000;
    }

    .credits a:hover {
        color: #DD4D9B;
    }

    #source-pic {
        width: 10em;
    }

    /* Leaflet map */
    #mapid { 
        width: 90%;
        height: 60vh; 
        border-radius: 1em;
    }

    /* background shapes */
    .bubble {
        position: absolute;
        left: 15%;
        top: 15%;
        z-index: 10;
    }

    .small-bubble {
        position: absolute;
        width: 7em;
        left: 65%; 
        top: 60%;
    }

    /* Hitory page attributes */
    #history-line {
        width: 80%;
        margin-top: 4em;
        margin-bottom: 4em;
    }

    #box1, #box2, #box3, #box4, #box5 {
        opacity: 0;
    }

    /* history picture items */
    #teapot {
        width: 15%;
        padding-top: 2em;
    }

    #taiwan {
        position: absolute;
        width: 25%;
        top: 65%;
        right: -25%;
    }

    #starbucks {
        position: absolute;
        width: 25%;
        top: 65%;
        left: -25%;
    }

    #boba {
        position: absolute;
        width: 15%;
        top: 55%;
        left: -25%;  
    }

    #boba-guys {
        position: absolute;
        width: 45%;
        top: 100%;
        left: 9%;
        border-radius: 1em;
        margin-top: 20%;
    }

    #sidebox {
        opacity: 0;
    }

    #sidebox img {
        position: absolute;
        left: 1em;
    }

    .no-opacity {
        opacity: 0;
    }

    .cls-1 {
        opacity: 0;
    }

    .history-box {
        position: absolute;
        display: flex;
        flex-direction: row;
        margin-left: 3em;
        margin-right: 3em;
    }

    .history-box:first-child {
        top: 3%;
        width: 70%;  
        right: 0;
    }

    .history-box:nth-child(2) {
        width: 60%;
        left: 0;
        top: 25%;
    }

    .history-box:nth-child(3) {
        width: 80%;
        right: 0;  
        top: 50%; 
    }

    .history-box:nth-child(4) {
        width: 60%;
        right: 0;
        top: 59%;
    }

    .history-box:nth-child(5) {
        width: 60%;
        left: 0;
        top: 75%;
    }

    /* Timeline circles with dates */
    .history-circle {
        position: relative;
        margin-left: 3em;
        margin-right: 3em;
    }

    .history-circle h4 {
        position: absolute;
        top: -1.5em;
        left: 1.5em;
    }

    .history-text {
        background-color: #FFFFFF;
        padding: 1em;
        border-radius: 1em;
    }

    .history-circle h4 {
        line-height: 9em;
    }
}

/* media screen for navigation menu */
@media screen and (max-width: 467px) {
    ul {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
}

/* media query for everything else */
@media only screen and (max-width: 600px) {
    .layout {
        display: grid;
        grid-template-areas: 
          "head"
          "main"
          "main";
        grid-template-rows: 150px auto auto;  
        grid-template-columns: 100%;
    }

    .head {
        grid-area: head;
    }

    .main {
        grid-area: main;
    }

    /* History Section */
    .history-box {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-left: 0em;
        margin-right: 0em;        
    }

    .history-box:first-child {
        top: 3%;
        width: 100%;  
        right: 0;
    }

    .history-box:nth-child(2) {
        width: 100%;
        left: 0;
        top: 25%;
    }

    .history-box:nth-child(3) {
        width: 100%;
        right: 0;  
        top: 50%; 
    }

    .history-box:nth-child(4) {
        width: 100%;
        right: 0;
        top: 59%;
    }

    .history-box:nth-child(5) {
        width: 100%;
        left: 0;
        top: 75%;
    }

    .history-circle {
        margin-left: 0em;
        margin-right: 0em;
    }

    .history-text {
        
    }

    #history-line {
        display: none;
    }
}